.wp-menu-image.dashicons-before img {
    max-width: 18px;
}

/* WrkLst Media Library Extension Styles */
.wl-work .attachment {
    cursor: pointer;
}

.wl-work .attachment.exists {
    opacity: 0.5;
}

.wl-work .attachment img {
    display: block;
}

.wl-work .attachments-browser h3 {
    margin: 0 0 15px 0;
    padding: 10px 0;
}
